body {
  background-image: url("/assets/main-background-image.png");
  background-size: 250%;
  height: auto;
  background-position-y: 45rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem;
  gap: 1rem;
  color: white;
  margin: 6.2rem auto 0;
}

.title__main-heading {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 2.7rem;
  margin: 0;
}

.title__sub-heading {
  font-family: Rubik;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
}
